* {
    box-sizing: border-box;
    margin: 0;
    
}

body{
    min-height: 100vh;
    background-color: green;
}

.flex-container div {
    display: flex;
    column-gap: 10px;
    row-gap:10px;
    margin-bottom: 0px;
    
}


